<div class="container my-5">
  <div class="text-center mb-4" style="color:azure">
    <h2 >Success Stories</h2>
    <p>Read about the happy endings of our adopted cats.</p>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let story of successStories">
      <div class="card h-100 shadow-sm">
        <img class="card-img-top" [src]="story.imageUrl" alt="Image of {{ story.name }}" style="object-fit: cover; height: 250px;">
        <div class="card-body">
          <h5 class="card-title">{{ story.name }}</h5>
          <p class="card-text">{{ story.story }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
